name: rust
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: build Rust
        run: make release

      - name: Format code
        run: make rust_format

      - name: Lint code
        run: make rust_lint

      - name: Run tests
        run: make rust_test